
.enlace {
    font-size: 1.5em; 
    color: aliceblue !important;
    
  }
  .texto{
    color: aliceblue !important;
  }
  .textod{
    color: black !important;
  }
  .barra {
    background-color: #475e88;
  }
  
  .imagen {
    width: 8em;
    height: 6em; 
  }
  
  .ml-5 {
    margin-left: 3rem !important; 
  }
  
  
      